@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

body {
  font-family: 'PT Serif', serif;
}  

h1{
  color:#bd68bf;
  background-image: url{"https://raw.githubusercontent.com/productdesigner987/Portfolio/master/gradientbackground2.jpg"};
  background-repeat: no-repeat;
  background-position: center;
}

p{
  color:#73cde3;
  border-style: 5p dotted red 
}

